
.main{
    margin-bottom: 30px;
    margin-left: 150px;
    margin-top: 20px;
    margin-right: 20px;
}

.sec{
    display: flex;
    gap: 20px;
}
.sec dl{
    flex: 1;
    background: white;
    text-align: center;
    padding: 20px;
    border-radius: 1.5em;
}

.sec dl dt{
    color: #d590e1;
    font-weight: 700;
    letter-spacing: 1px;
}
.sec dl dd{
    color: rgb(80, 82, 84);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 40px;
}
hgroup{
    color: rgb(65, 67, 68);
    font-weight:800;
    letter-spacing: 1px;
}

.tbl tr th{
    border: lightgray;
    border-bottom: 1px solid rgb(97, 97, 97);
    padding: 2%;
    text-align: center;
    
}
.tbl tr td{
    padding: 5px;
    text-align: center;
}



.tbl{
    width:98%;
    
}

.btn-primary{
    background-color: #22a6b3;
    padding: 1%;
    color: white;
    text-decoration: none;
    border: none;
}

.btn-primary:hover{
    background-color: #4834d4;
}

.btn-paid{
    background-color: #badc58;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: 70px;
}
.btn-Unpaid{
    background-color: #eb4d4b;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.btn-second{
    background-color: #badc58;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
    width: 70px;
}



.btn-second:hover{
    background-color: #6ab04c;
}

.btn-danger{
    background-color: #ff7979;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-danger:hover{
    background-color: #eb4d4b;
}

.btn-viwe{
    background-color: rgb(111, 209, 241);
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
    width: 70px;
}
.btn-viwe:hover{
    background-color: blue;
}
.btn-send{
    background-color: #beb204;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-send:hover{
    background-color: #756e06;
}
.tbl-2{
    width: 60%;
    
}
.tbl-2 tr,td{
    padding: 5px;
}
form.tbl-2 td{
    color: rgb(100, 99, 99);
}
.error{
    font-size: 13px;
    color: red;
    
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
}
p.success{
    color: green;
    font-size: 13px;
    
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    
}