ul,li,a,nav,span,body,i{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: lightgrey;
}
nav{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: white;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo{
    text-align: center;
    display: flex;
    margin: 10px;
    transition: all 0.5s ease;
}
.logo img{
    width: 45px;
    height: 45px;
}

.logo span{
    font-weight: bold;
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    
}

li a{
    position: relative;
    color: #ae37c3;
    font-size: 16px;
    display: table;
    width: 300px;
    padding: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    
}

.bi{
    position: relative;
    width: 80px;
    height: 50px;
    
    font-size: 25px;
    text-align: center;
}
.nav-item{
    position: relative;
    
    margin-left: 12px;
}

li a:hover{
    background: #9C27B0;
    color: white;
}

nav:hover{
    width: 280px;
}

.logout{
    position: absolute;
    bottom: 15px;
}
a i{
    padding: 20px;
    width: 5px;
}

.top-bar{
    background: #d590e1;
    width: 100%;
    margin-left: 90px;
    height: 90px;
}

.Search-bar{
    position: absolute;
    background: white;
    border-radius: 20px;
    height: 40px;
    width: 250px;
    top: 25px;
    right: 25px;
}
section input{
    border: 0px;
    text-align: center;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: white;
    border: none;
    outline: none;
    text-align: center;
    margin: 10px;
    

}
section button{
    position: absolute;
    cursor: pointer;
    border: none;
    background: none;
    right: 0;

}
section button i{
    color: #9C27B0;
    right: 6px;
    top: 7px;
}
.footer {
    width: 91%;
    margin-left: 100px;
    background: white;
    height: 70px;
    border-radius: 0px;
    text-align: center;
    margin-bottom: 30px;
    
    margin-top: 20px;
    margin-right: 50px;
    color: rgb(156, 155, 155);
}

.footer dl{
    padding-top: 25px;
    color: rgb(156, 155, 155);
    
}
.footer dl i{
    margin: 10px;
    font-size: 20px;
    position: inherit;
}
